.img-general-style {
    width: calc(100vw / 4.8);
    height: calc(100vw / 4.8);
    position: relative;
  }
  
  .image-shadow--bottom-right {
    filter: drop-shadow(0.25rem 0.25rem 0.3rem rgba(50, 50, 50, 0.5));
  }
  
  .image-shadow--top-left {
    filter: drop-shadow(-0.25rem -0.25rem 0.3rem rgba(50, 50, 50, 0.5));
  }
  
  .img-general-style:hover {
    box-shadow: 0 0 1px 1px rgba(122, 122, 122, 0.5);
  }
  
  .img-below-hover:hover {
    box-shadow: 0 0 1px 1px rgba(122, 122, 122, 0.5);
    animation: nextarrow 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  
  @keyframes nextarrow {
    from {
      opacity: 100%;
    }
    50% {
      opacity: 50%;
    }
    to {
      opacity: 100%;
      z-index: 2;
    }
  }
  
  .image-stack {
    content: " ";
    display: table;
    clear: both;
    grid-column: 2 / 2;
  }
  
  .image-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  
  .image-stack__item--bottom-right {
    float: right;
    width: 90%;
    padding-top: 15%;
  }
  
  .image-stack__item--top-left {
    float: left;
    width: 100%;
    margin-right: -100%;
    padding-top: 5%;
    z-index: 1;
  }
  
  .above {
    z-index: 1;
  }
  
  .remove-decoration {
    text-decoration: none;
    display: block;
  }
  
  .custom-link {
    color: #c01650;
  }
  
  .custom-link:hover {
    cursor: pointer;
    color: #8b2c49ec;
    font-weight: bolder;
    display: block;
  }
  
  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  #activitiesPhone {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    #activitiesPhone {
      display: block;
    }
    #activitiesDesktop {
      display: none;
    }
  }