#comments {
    direction: rtl;
  }
  
  .slideshow-title {
    text-align: center;
    padding: 20px;
    font-weight: bold;
  }
  
  .slideshow-container {
    /* max-width: 75%; */
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -22px 22px 0 0;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: yellow;
    border-radius: 50%;
  }
  
  .prev {
    left: 0;
    margin: -22px 0 0 22px;
  }
  
  .text {
    color: black;
    font-size: 15px;
    text-align: center;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @media (max-width: 600px) {
    .mySlides {
      flex-direction: column;
    }
  }